<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @project.industry %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @project.platform %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.project_type %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @project.technology %>
</p>

<p>
  <%= image_tag @project.image.url(:large) %>
</p>


<%= link_to 'Edit', edit_studio_project_path(@project) %> |
<%= link_to 'Back', studio_path(@studio) %> 
