<%= simple_form_for @studio, html: { multipart: true } do |f| %>
  <% if studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studio.errors.count, "error") %> prohibited this studio from being saved:</h2>
      <ul>
      <% studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.input :name, label: 'Name' %>
  </p>
  <p>
    <%= f.input :city_id  %>
  </p>
  <p>
    <%= f.select :budget, Studio::BUDGETS %>
  </p>
  <p>

    <%= f.input :logo, as: :file, label: 'Logo' %>
  </p>
  <p>

    <%= f.input :description, label: 'Description' %>
  </p>
  <p>
    <%= f.input :payed, as: :boolean, checked_value: true, unchecked_value: false%>

  </p>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
