<p id="notice"><%= notice %></p>

<p><%= image_tag @studio.logo_url(:thumb) if @studio.logo.present? %></p>

<p>
  Typical budget: <b><%= Studio::BUDGETS[@studio.budget].first %></b> 
<p>
  Headquartered in <b style="text-decoration: underline;"><%= @studio.city %></b>
<p>
  <%= @studio.description %>
<p>
<% @studio.projects.each do |project| %>
  <tr>
  	<% if project.image.present? %>
    <td><%= link_to (image_tag project.image.url(:large)) , studio_project_path(project.studio_id, project.id) %></td><p>
    <% end %>
    <td><%= project.title %></td>
    <td><%= link_to "show", studio_project_path(project.studio_id, project.id) %></td><p>
  </tr>
<% end %>

<p><%= link_to "Add project", new_studio_project_path(@studio.id) %>
<p>
<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
