<!DOCTYPE html>
<html>
  <head>
    <title>Sortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container" id="main_area">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

    <%= yield %>
  </div>
    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Ilya Tsynenko 2016 </p>
        </div>
      </div>
    </footer>  
  </body>
</html>
